*/node_modules
*/.next
*/.nuxt
*/.out
*/.vscode
*/.yarn
*/.yarn-cache
*/.yarn-integrity
*/.yarn-metadata.json
*/.yarnrc
*/.yarnrc.yml
*/.yarnignore
*/.yarnclean
*/.yarn-integrity
*/.yarnclean
*/.yarnrc
*/.yarnclean
*/.yarnrc.
*/.idea