@import url('fonts.css');
body {

    font-family: 'HelveticaNeue', sans-serif;


}
.titles{
    letter-spacing: 1px;
    word-spacing: 1px;
}

.invoice {
    padding: 15px;
    padding-bottom: 0;

    /*border: 1px solid #ccc;*/

    margin: 0 auto;
    padding-top: 33px;
}

.invoice-header {
    text-align: left;
    margin-bottom: 20px;
}

.invoice-header h1 {
    margin: 0;
}

.invoice-info-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.invoice-info-box {
    width: 45%;
    padding: 15px;
    border: 0px solid #ccc;
}

.invoice-info p {
    margin: 0;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table th, .invoice-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.invoice-table th {
    background-color: #f2f2f2;
}

.invoice-total {
    margin-top: 20px;
    text-align: right;
}

.invoice-total p {
    margin-bottom: 5px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label {
    margin-right: 10px;
}

.invoice-logo {
    text-align: right;
    margin-bottom: 30px;
}

.invoice-logo img {
    max-width: 355px;
}



h2 {
    margin: 0;
    padding: 2px;
    padding-left: 6px;
    font-size: 21px;

}

p {
    line-height: 21px;
    padding: 6px;
    margin: 0;
}

.address {
    font-size: 8.2pt;
}

.custom-dashed-border {

    background-repeat: repeat-x; /* or repeat-y for vertical lines */
    height: 1px !important;
    width: 100%;
}

.customer-details {
    margin-top: 22px;
    padding-left: 3px;
    font-size: 12.2pt;
    width: 98%;
    line-height: 15px
}

.shop-owner-details {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 28px;
    font-size: 12.2pt;
}

.netto-static {
    margin-top: 23px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 15px;
}

.fahrzeug-table {
    width: 100%;
    font-family: 'HelveticaNeue-Bold-02';
    padding-left: 4px;
    font-size: 13pt;
    /*font-weight: 800;*/
    line-height: 13pt;
    margin-top: 3px;
}

.gesamt-netto-table {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.gesamtbetrag-table {
    text-align: right;
    width: 50%;
    float: right;
    margin-top: 60px;
    margin-bottom: 40px;
    letter-spacing: 0;
}
.price-bold {
    text-align: right;
    font-size:large;
    font-weight: bold;
}
.fahrgestell-nr-left-col{
    width: 43%;
}
.fahrgestell-nr{
    width: 60%;
    padding-left: 3px;
    font-size: 12pt;
    line-height: 12pt;
}
.row-with-boxes {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    font-size: 10pt;
    padding-left: 6px;
    padding-right: 2px;
    margin-top:95px;
}
.row-with-boxes b{
    font-size: 13px;
    font-family: 'HelveticaNeue-Bold-02';
    /*font-weight: 800;*/
}
.box {
    width: calc(33% );
    padding: 10px 0 0;
    border: 0 solid #ccc;
    word-wrap: break-word;
}
